#chart {
  margin-top: 30px;
}

.toolbar {
  margin-left: 45px;
}

.chartbutton {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

.chartbutton:active {
  color: #fff;
  background: #008ffb;
  border: 1px solid blue;
  border-bottom: 2px solid blue;
}

.chartbutton:focus {
  outline: 0;
}
